body,html {
	width: 100%;
	margin: 0;
	font-family: "Open Sans", sans-serif;
}
.header {
		width: 100%;
  		max-height: 30%;
  		color: #ffffff;
  		background-color: #373737;
  		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 2%;
	}
.footer {
		float:left;
		padding:15px 0;
		min-width:100%;
		background-color: #33d685;
		color: #ffffff;
}
.greeting {
	font-family: Helvetica, sans-serif;
	font-size: 6vw;
}
.gaes {
	color: #33d685;
}
.gaes:hover {
	color: #ffffff;
}
.content-wrap {
	width: 100%;
	max-height: 100%;
	margin: 0;
	background-color: #20df2f;
}
.content-left {
	width: 35%;
	padding-left: 5%;
	padding-top: 2%;
	padding-bottom: 3%;
	float: left;
}
.content-right {
	width: 60%;
	float: right;
	color: #ffffff;
	padding-top: 3%;
}
.profile {
	height: 60%;
	width: auto;
	border-radius: 50%;
}
.title {
	background-color: #33d685;
	padding:1%;
	font-family: "Open Sans", sans-serif;
	font-size: 1.5vw;
	color: #ffffff;
	border-radius: 5%;
	width: 25%;
}
.des-wrap {
	width: 90%;
	color: #373737;
	text-align: justify;
}
.tag {
	width : 25%;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
	color: #373737;
}
.detail {
	width: 75%;
	float: right;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #373737;
}
.icon-sosmed {
	width: 14%;
	padding-left: 3%;
	padding-right: 3%;
	float: left;
	text-align: center;
}
.sosmed-tag {
	padding-top: 2%;
	text-align: center;
	color: #373737;
}
.homepage {
	position: fixed;
	bottom:20px;
	right: 20px;
	opacity: 0.5;
}
.homepage:hover {
	opacity: 1;
}